.Messages {
	margin-top: 80px;
	background: #eee;
	height: 100vh;
}

.MessagesContainer {
	width: 90%;
	max-width: 1360px;
	height: 100vh;
	/* background: black; */
	margin: auto;
}

.error {
	display: flex;
	justify-content: center;
	height: 25vh;
	align-items: center;
}

.secondContainer {
	width: 100%;
	height: 100%;
	display: flex;
}

.chats {
	width: 30%;
	height: 100%;
	background-color: orange;
}

.chatbox {
	width: 70%;
	height: 100%;
	background: red;
}

@media screen and (max-width: 767px) {
	.MessagesContainer {
		width: 100%;
	}
}
