.form {
	display: flex;
	height: 70vh;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	max-width: 500px;
}

.brand {
	width: 50%;
	align-self: center;
	margin-left: 6%;
	margin-bottom: 40px;
}

.eachField {
	display: flex;
	flex-flow: column;
	margin-bottom: 15px;
}

.eachField > label {
	padding: 5px;
	margin-bottom: 5px;
}

.eachField > input {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	outline: none;
}

.eachField > input:focus {
	box-shadow: 0 0 5px rgb(0, 130, 255);
}

h3 {
	text-align: center;
}

.textRed {
	color: red;
}

.boxRed {
	box-shadow: 0 0 5px rgb(255, 0, 0);
}

.toRegister {
	margin: 8px;
	padding: 8px;
	text-align: center;
}

.link {
	text-decoration: none;
	color: rgb(0, 130, 255);
	line-height: 5mm;
}

.link:visited {
	color: purple;
}

@media screen and (max-width: 768px) {
	.form {
		/* width: 90%; */
	}
}
