.__btn {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background: #1877F2;
    border-radius: 5px;
    color: #f2f2f2;
    font-size: 1.1rem;
    cursor: pointer;
    outline: none;
}

.__btn:hover {
    background: #1877D0;
}