.NavBar {
	position: static;
	top: 0;
	height: 80px;
	width: 100%;
	background: white;
	display: flex;
	align-items: center;
}

.NavBarContainer {
	max-width: 1360px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0;
}
.Logo {
	flex-grow: 0;
	flex-shrink: 0;
	width: 200px;
}
.Logo img {
	width: 100%;
}
.Menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.eachMenu {
	padding: 0 5px;
	display: flex;
	align-items: center;
}

.underLined {
	background: rgba(100, 100, 100, 0.1);
	border-radius: 30px;
	/* color: rgb(0, 130, 255) !important; */
}

.Menu button {
	background: none;
	border: none;
	margin: 0 20px;
	cursor: pointer;
	padding: 2px 5px 2px 1px;
}

.Menu button:hover {
	padding: 2px 5px 2px 1px;
	background: rgba(100, 100, 100, 0.1);
	border-radius: 30px;
}

.Menu button:focus {
	outline: none;
}

.Link {
	text-decoration: none;
	color: black;
	margin: 0 20px;
	font-size: 0.88rem;
	/* padding: 10px 3px 2px 3px; */
	padding: 2px 5px 2px 1px;
}

.Link:hover {
	background: rgba(100, 100, 100, 0.1);
	border-radius: 30px;
}

@media screen and (max-width: 767px) {
	.Menu {
		position: absolute;
		right: 6%;
		top: 55px;
		background: white;
		text-align: center;
		padding: 10px;
		flex-flow: column;
		box-shadow: 0 0 3px #ccc;
		z-index: 1000000000000000;
	}

	.Menu button,
	.Menu .Link {
		background: transparent;
		border-bottom: none;
		border-radius: 0px;
		width: 100%;
		padding: 10px 0;
		transition: all 0.3s ease-in-out;
	}

	.eachMenu {
		width: 100%;
		justify-content: start;
		align-items: center;
	}

	.Menu button {
		border: none;
	}

	.toggler:hover {
		cursor: pointer;
	}

	.Menu button:hover,
	.Menu .Link:hover {
		color: #f2f2f2;
		background: rgb(0, 130, 255) !important;
	}

	.underLined {
		transform: scale(1);
		/* color: rgb(0, 130, 255) !important; */
		font-weight: 100;
	}
}
